<a href="https://colab.research.google.com/github/alexhzjz/Python-Ejercicios/blob/main/Ejercicio_Semana9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Actividad 1**

1. Carga el archivo "datos_demograficos.csv" en un DataFrame de Pandas.

In [15]:
import pandas as pd

# Carga el archivo CSV en un DataFrame
df = pd.read_csv('datos_demograficos.csv')

2.Muestra las primeras 5 filas del DataFrame.

In [16]:

print(df.head())

             Nombre       País  Edad     Género  Peso  Altura
0        Juan Pérez     España    28  Masculino    80    1.75
1        Ana García  Argentina    35   Femenino    65    1.60
2  Carlos Rodríguez     México    22  Masculino    75    1.80
3       Maria López   Colombia    40   Femenino    70    1.65
4    Pedro González     Brasil    32  Masculino    85    1.85

3.Obtén la información general del DataFrame.

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  48 non-null     object
 1   País    48 non-null     object
 2   Edad    48 non-null     int64
 3   Género  48 non-null     object
 4   Peso    48 non-null     int64
 5   Altura  48 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.4+ KB
None

4.Calcula las estadísticas descriptivas de las columnas numéricas.

In [18]:
print(df.describe())

            Edad       Peso     Altura
count  48.000000  48.000000  48.000000
mean   29.916667  71.875000   1.715000
std     4.135129  12.594536   0.128427
min    22.000000  55.000000   1.550000
25%    27.000000  59.750000   1.597500
50%    29.500000  72.500000   1.700000
75%    32.250000  84.000000   1.840000
max    40.000000  92.000000   1.920000

5.Encuentra los valores únicos de la columna "País".

In [19]:
print(df['País'].unique())

['España' 'Argentina' 'México' 'Colombia' 'Brasil' 'Chile' 'Perú'
 'Venezuela' 'Ecuador' 'Uruguay' 'Bolivia' 'Paraguay'
 'República Dominicana' 'Panamá' 'Guatemala' 'Honduras' 'Nicaragua'
 'El Salvador' 'Costa Rica']

6.Cuenta la cantidad de ocurrencias de cada valor en la columna "Género".

In [20]:
print(df['Género'].value_counts())

Género
Masculino    24
Femenino     24
Name: count, dtype: int64

**Actividad 2**

1. Carga el archivo "ventas.csv" en un DataFrame de Pandas.

In [21]:
import pandas as pd

# Carga el archivo CSV en un DataFrame
df = pd.read_csv('ventas.csv')

2. Selecciona las filas con índices 5 a 10.

In [22]:
filas_seleccionadas = df.iloc[5:11]
print(filas_seleccionadas)

         Fecha   Producto     Categoría   Precio  Cantidad
5   2023-08-16    Monitor  Electrónicos  1200000         1
6   2023-08-16    Teclado  Electrónicos   200000         1
7   2023-08-16    Zapatos          Ropa   320000         2
8   2023-08-16      Libro        Libros    60000         3
9   2023-08-16      Silla       Mobilia   400000         1
10  2023-08-17  Impresora  Electrónicos   800000         1

3. Selecciona las columnas 'Producto' y 'Precio'

In [23]:
productos_y_precios = df[['Producto', 'Precio']]
print(productos_y_precios)

              Producto   Precio
0               Laptop  5000000
1                Mouse   100000
2          Auriculares   300000
3             Camiseta    80000
4             Pantalón   200000
5              Monitor  1200000
6              Teclado   200000
7              Zapatos   320000
8                Libro    60000
9                Silla   400000
10           Impresora   800000
11            Teléfono  2000000
12             Vestido   160000
13               Bolso   120000
14                Mesa  1000000
15              Tablet  1400000
16          Disco duro   400000
17              Camisa    60000
18   Pantalones cortos   120000
19             Lámpara   200000
20         Memoria RAM   320000
21            Cargador    80000
22               Falda   140000
23               Reloj   280000
24              Sillón   600000
25           Audifonos   200000
26     Batería externa   120000
27               Blusa   100000
28             Corbata    60000
29          Escritorio  1200000
30              Router   400000
31              Webcam   200000
32  Pantalones de yoga   160000
33              Anillo    80000
34                Cama  1600000
35   Tarjeta de sonido   280000
36   Ratón inalámbrico   140000
37            Chaqueta   280000
38              Collar    60000
39          Estantería   320000
40       Disco externo   480000
41              Suéter   180000
42             Pulsera    40000
43             Armario   800000
44          Cable HDMI    60000
45              Jersey   120000
46          Pendientes    48000
47              Cómoda   600000

4. Filtra las filas donde el 'Precio' es mayor que 100.

In [24]:
precios_altos = df[df['Precio'] > 100]
print(precios_altos)

         Fecha            Producto     Categoría   Precio  Cantidad
0   2023-08-15              Laptop  Electrónicos  5000000         1
1   2023-08-15               Mouse  Electrónicos   100000         2
2   2023-08-15         Auriculares  Electrónicos   300000         3
3   2023-08-15            Camiseta          Ropa    80000         5
4   2023-08-15            Pantalón          Ropa   200000         2
5   2023-08-16             Monitor  Electrónicos  1200000         1
6   2023-08-16             Teclado  Electrónicos   200000         1
7   2023-08-16             Zapatos          Ropa   320000         2
8   2023-08-16               Libro        Libros    60000         3
9   2023-08-16               Silla       Mobilia   400000         1
10  2023-08-17           Impresora  Electrónicos   800000         1
11  2023-08-17            Teléfono  Electrónicos  2000000         1
12  2023-08-17             Vestido          Ropa   160000         2
13  2023-08-17               Bolso    Accesorios   120000         1
14  2023-08-17                Mesa       Mobilia  1000000         1
15  2023-08-18              Tablet  Electrónicos  1400000         1
16  2023-08-18          Disco duro  Electrónicos   400000         2
17  2023-08-18              Camisa          Ropa    60000         3
18  2023-08-18   Pantalones cortos          Ropa   120000         1
19  2023-08-18             Lámpara   Iluminación   200000         2
20  2023-08-19         Memoria RAM  Electrónicos   320000         2
21  2023-08-19            Cargador  Electrónicos    80000         1
22  2023-08-19               Falda          Ropa   140000         2
23  2023-08-19               Reloj    Accesorios   280000         1
24  2023-08-19              Sillón       Mobilia   600000         1
25  2023-08-20           Audifonos  Electrónicos   200000         2
26  2023-08-20     Batería externa  Electrónicos   120000         3
27  2023-08-20               Blusa          Ropa   100000         4
28  2023-08-20             Corbata    Accesorios    60000         1
29  2023-08-20          Escritorio       Mobilia  1200000         1
30  2023-08-21              Router  Electrónicos   400000         1
31  2023-08-21              Webcam  Electrónicos   200000         2
32  2023-08-21  Pantalones de yoga          Ropa   160000         2
33  2023-08-21              Anillo    Accesorios    80000         1
34  2023-08-21                Cama       Mobilia  1600000         1
35  2023-08-22   Tarjeta de sonido  Electrónicos   280000         1
36  2023-08-22   Ratón inalámbrico  Electrónicos   140000         2
37  2023-08-22            Chaqueta          Ropa   280000         1
38  2023-08-22              Collar    Accesorios    60000         2
39  2023-08-22          Estantería       Mobilia   320000         1
40  2023-08-23       Disco externo  Electrónicos   480000         1
41  2023-08-23              Suéter          Ropa   180000         2
42  2023-08-23             Pulsera    Accesorios    40000         3
43  2023-08-23             Armario       Mobilia   800000         1
44  2023-08-24          Cable HDMI  Electrónicos    60000         2
45  2023-08-24              Jersey          Ropa   120000         1
46  2023-08-24          Pendientes    Accesorios    48000         2
47  2023-08-24              Cómoda       Mobilia   600000         1

5. Crea una nueva columna llamada 'Descuento' con un 10% del 'Precio'.

In [25]:
df['Descuento'] = df['Precio'] * 0.1
print(df)

         Fecha            Producto     Categoría   Precio  Cantidad  Descuento
0   2023-08-15              Laptop  Electrónicos  5000000         1   500000.0
1   2023-08-15               Mouse  Electrónicos   100000         2    10000.0
2   2023-08-15         Auriculares  Electrónicos   300000         3    30000.0
3   2023-08-15            Camiseta          Ropa    80000         5     8000.0
4   2023-08-15            Pantalón          Ropa   200000         2    20000.0
5   2023-08-16             Monitor  Electrónicos  1200000         1   120000.0
6   2023-08-16             Teclado  Electrónicos   200000         1    20000.0
7   2023-08-16             Zapatos          Ropa   320000         2    32000.0
8   2023-08-16               Libro        Libros    60000         3     6000.0
9   2023-08-16               Silla       Mobilia   400000         1    40000.0
10  2023-08-17           Impresora  Electrónicos   800000         1    80000.0
11  2023-08-17            Teléfono  Electrónicos  2000000         1   200000.0
12  2023-08-17             Vestido          Ropa   160000         2    16000.0
13  2023-08-17               Bolso    Accesorios   120000         1    12000.0
14  2023-08-17                Mesa       Mobilia  1000000         1   100000.0
15  2023-08-18              Tablet  Electrónicos  1400000         1   140000.0
16  2023-08-18          Disco duro  Electrónicos   400000         2    40000.0
17  2023-08-18              Camisa          Ropa    60000         3     6000.0
18  2023-08-18   Pantalones cortos          Ropa   120000         1    12000.0
19  2023-08-18             Lámpara   Iluminación   200000         2    20000.0
20  2023-08-19         Memoria RAM  Electrónicos   320000         2    32000.0
21  2023-08-19            Cargador  Electrónicos    80000         1     8000.0
22  2023-08-19               Falda          Ropa   140000         2    14000.0
23  2023-08-19               Reloj    Accesorios   280000         1    28000.0
24  2023-08-19              Sillón       Mobilia   600000         1    60000.0
25  2023-08-20           Audifonos  Electrónicos   200000         2    20000.0
26  2023-08-20     Batería externa  Electrónicos   120000         3    12000.0
27  2023-08-20               Blusa          Ropa   100000         4    10000.0
28  2023-08-20             Corbata    Accesorios    60000         1     6000.0
29  2023-08-20          Escritorio       Mobilia  1200000         1   120000.0
30  2023-08-21              Router  Electrónicos   400000         1    40000.0
31  2023-08-21              Webcam  Electrónicos   200000         2    20000.0
32  2023-08-21  Pantalones de yoga          Ropa   160000         2    16000.0
33  2023-08-21              Anillo    Accesorios    80000         1     8000.0
34  2023-08-21                Cama       Mobilia  1600000         1   160000.0
35  2023-08-22   Tarjeta de sonido  Electrónicos   280000         1    28000.0
36  2023-08-22   Ratón inalámbrico  Electrónicos   140000         2    14000.0
37  2023-08-22            Chaqueta          Ropa   280000         1    28000.0
38  2023-08-22              Collar    Accesorios    60000         2     6000.0
39  2023-08-22          Estantería       Mobilia   320000         1    32000.0
40  2023-08-23       Disco externo  Electrónicos   480000         1    48000.0
41  2023-08-23              Suéter          Ropa   180000         2    18000.0
42  2023-08-23             Pulsera    Accesorios    40000         3     4000.0
43  2023-08-23             Armario       Mobilia   800000         1    80000.0
44  2023-08-24          Cable HDMI  Electrónicos    60000         2     6000.0
45  2023-08-24              Jersey          Ropa   120000         1    12000.0
46  2023-08-24          Pendientes    Accesorios    48000         2     4800.0
47  2023-08-24              Cómoda       Mobilia   600000         1    60000.0

6. Elimina la columna 'Descuento' del DataFrame.

In [26]:
df.drop('Descuento', axis=1, inplace=True)
print(df)

         Fecha            Producto     Categoría   Precio  Cantidad
0   2023-08-15              Laptop  Electrónicos  5000000         1
1   2023-08-15               Mouse  Electrónicos   100000         2
2   2023-08-15         Auriculares  Electrónicos   300000         3
3   2023-08-15            Camiseta          Ropa    80000         5
4   2023-08-15            Pantalón          Ropa   200000         2
5   2023-08-16             Monitor  Electrónicos  1200000         1
6   2023-08-16             Teclado  Electrónicos   200000         1
7   2023-08-16             Zapatos          Ropa   320000         2
8   2023-08-16               Libro        Libros    60000         3
9   2023-08-16               Silla       Mobilia   400000         1
10  2023-08-17           Impresora  Electrónicos   800000         1
11  2023-08-17            Teléfono  Electrónicos  2000000         1
12  2023-08-17             Vestido          Ropa   160000         2
13  2023-08-17               Bolso    Accesorios   120000         1
14  2023-08-17                Mesa       Mobilia  1000000         1
15  2023-08-18              Tablet  Electrónicos  1400000         1
16  2023-08-18          Disco duro  Electrónicos   400000         2
17  2023-08-18              Camisa          Ropa    60000         3
18  2023-08-18   Pantalones cortos          Ropa   120000         1
19  2023-08-18             Lámpara   Iluminación   200000         2
20  2023-08-19         Memoria RAM  Electrónicos   320000         2
21  2023-08-19            Cargador  Electrónicos    80000         1
22  2023-08-19               Falda          Ropa   140000         2
23  2023-08-19               Reloj    Accesorios   280000         1
24  2023-08-19              Sillón       Mobilia   600000         1
25  2023-08-20           Audifonos  Electrónicos   200000         2
26  2023-08-20     Batería externa  Electrónicos   120000         3
27  2023-08-20               Blusa          Ropa   100000         4
28  2023-08-20             Corbata    Accesorios    60000         1
29  2023-08-20          Escritorio       Mobilia  1200000         1
30  2023-08-21              Router  Electrónicos   400000         1
31  2023-08-21              Webcam  Electrónicos   200000         2
32  2023-08-21  Pantalones de yoga          Ropa   160000         2
33  2023-08-21              Anillo    Accesorios    80000         1
34  2023-08-21                Cama       Mobilia  1600000         1
35  2023-08-22   Tarjeta de sonido  Electrónicos   280000         1
36  2023-08-22   Ratón inalámbrico  Electrónicos   140000         2
37  2023-08-22            Chaqueta          Ropa   280000         1
38  2023-08-22              Collar    Accesorios    60000         2
39  2023-08-22          Estantería       Mobilia   320000         1
40  2023-08-23       Disco externo  Electrónicos   480000         1
41  2023-08-23              Suéter          Ropa   180000         2
42  2023-08-23             Pulsera    Accesorios    40000         3
43  2023-08-23             Armario       Mobilia   800000         1
44  2023-08-24          Cable HDMI  Electrónicos    60000         2
45  2023-08-24              Jersey          Ropa   120000         1
46  2023-08-24          Pendientes    Accesorios    48000         2
47  2023-08-24              Cómoda       Mobilia   600000         1

**Exploración y Filtrado de Datos en el Archivo 'educacion.csv'**

**Actividad 3**

**Paso 1**: mportación de las bibliotecas y carga de datos:

In [1]:
import pandas as pd

# Carga el archivo CSV en un DataFrame
df = pd.read_csv('educacion.csv')

**Paso 2**: Inspección básica:

Muestra las primeras 5 filas:

In [2]:
print(df.head())

             Nombre       País  Edad Nivel_Educativo  \
0        Juan Pérez     España    28   Universitario
1        Ana García  Argentina    35        Posgrado
2  Carlos Rodríguez     México    22   Universitario
3       Maria López   Colombia    40   Universitario
4    Pedro González     Brasil    32   Universitario

                                  Carrera  \
0                  Ingeniería Informática
1  Maestría en Administración de Empresas
2                                Medicina
3                              Psicología
4                                 Derecho

                               Institución
0        Universidad Complutense de Madrid
1              Universidad de Buenos Aires
2  Universidad Nacional Autónoma de México
3                 Universidad de los Andes
4                 Universidad de São Paulo

Muestra la información general del DataFrame:

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nombre           48 non-null     object
 1   País             48 non-null     object
 2   Edad             48 non-null     int64
 3   Nivel_Educativo  48 non-null     object
 4   Carrera          48 non-null     object
 5   Institución      48 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.4+ KB
None

Muestra las estadísticas descriptivas de las columnas numéricas:

In [4]:
print(df.describe())

            Edad
count  48.000000
mean   29.916667
std     4.135129
min    22.000000
25%    27.000000
50%    29.500000
75%    32.250000
max    40.000000

**Paso 3**: Exploración de datos:

¿Cuáles son los niveles educativos más comunes?

In [5]:
print(df['Nivel_Educativo'].value_counts())

Nivel_Educativo
Universitario    44
Posgrado          4
Name: count, dtype: int64

¿Cuál es la carrera más popular?

In [6]:
print(df['Carrera'].value_counts().idxmax())

Derecho

¿Cuál es la institución con más estudiantes?

In [7]:
print(df['Institución'].value_counts().idxmax())

Universidad Nacional Autónoma de Nicaragua

**Paso 4**: Filtrado de datos:

Filtra los estudiantes que tienen un posgrado:

In [8]:
df_posgrado = df[df['Nivel_Educativo'] == 'Posgrado']
print(df_posgrado)

             Nombre       País  Edad Nivel_Educativo  \
1        Ana García  Argentina    35        Posgrado
16  Alberto Jimenez  Nicaragua    39        Posgrado
22   Sergio Jimenez  Nicaragua    35        Posgrado
38     José Jimenez  Nicaragua    35        Posgrado

                                   Carrera  \
1   Maestría en Administración de Empresas
16                 Doctorado en Ingeniería
22                     Maestría en Derecho
38                   Doctorado en Economía

                                   Institución
1                  Universidad de Buenos Aires
16          Universidad Nacional de Ingeniería
22  Universidad Nacional Autónoma de Nicaragua
38  Universidad Nacional Autónoma de Nicaragua

Filtra los estudiantes de Ingeniería Informática de la Universidad Complutense de Madrid:

In [9]:
df_ingenieria_madrid = df[(df['Carrera'] == 'Ingeniería Informática') & (df['Institución'] == 'Universidad Complutense de Madrid')]
print(df_ingenieria_madrid)

       Nombre    País  Edad Nivel_Educativo                 Carrera  \
0  Juan Pérez  España    28   Universitario  Ingeniería Informática

                         Institución
0  Universidad Complutense de Madrid

Filtra los estudiantes de Honduras que tienen un nivel educativo universitario:

In [10]:
df_honduras_universitario = df[(df['País'] == 'Honduras') & (df['Nivel_Educativo'] == 'Universitario')]
print(df_honduras_universitario)

                Nombre      País  Edad Nivel_Educativo     Carrera  \
15  Patricia Rodriguez  Honduras    23   Universitario  Enfermería
21      Gabriela Lopez  Honduras    26   Universitario   Nutrición
27       Ana Hernandez  Honduras    24   Universitario  Psicología
37     Elena Hernandez  Honduras    27   Universitario  Enfermería

                                  Institución
15  Universidad Nacional Autónoma de Honduras
21  Universidad Nacional Autónoma de Honduras
27  Universidad Nacional Autónoma de Honduras
37  Universidad Nacional Autónoma de Honduras

**Paso 5**: Análisis adicional:

Crea una tabla de frecuencia que muestre la cantidad de estudiantes por país y nivel educativo.

In [11]:
print(pd.crosstab(df['País'], df['Nivel_Educativo']))

Nivel_Educativo       Posgrado  Universitario
País
Argentina                    1              0
Bolivia                      0              1
Brasil                       0              1
Chile                        0              1
Colombia                     0              1
Costa Rica                   0              7
Ecuador                      0              1
El Salvador                  0              7
España                       0              1
Guatemala                    0              4
Honduras                     0              4
México                       0              1
Nicaragua                    3              5
Panamá                       0              5
Paraguay                     0              1
Perú                         0              1
República Dominicana         0              1
Uruguay                      0              1
Venezuela                    0              1

Calcula la edad promedio de los estudiantes por nivel educativo.

In [12]:
print(df.groupby('Nivel_Educativo')['Edad'].mean())

Nivel_Educativo
Posgrado         36.000000
Universitario    29.363636
Name: Edad, dtype: float64

**Paso 6**: Guardar los resultados:

In [13]:
df_posgrado.to_csv('posgrado.csv', index=False)