<a href="https://colab.research.google.com/github/alexhzjz/Python-Ejercicios/blob/main/Ejercicio_Semana10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Actividad SEMANA 10: Agrupando y Resumiendo Datos sobre Estudiantes**

**Objetivo:** Practicar la agrupación y el resumen de datos en Pandas utilizando un DataFrame de estudiantes.

In [1]:
import pandas as pd

# 1. Crear un DataFrame
data = {'Nombre': ['Ana', 'Juan', 'Pedro', 'Sofía', 'Carlos', 'María', 'Luis'],
        'Edad': [18, 19, 18, 17, 20, 18, 19],
        'Género': ['Mujer', 'Hombre', 'Hombre', 'Mujer', 'Hombre', 'Mujer', 'Hombre'],
        'Calificación': [8.5, 7.0, 9.2, 9.8, 6.5, 8.0, 7.8]}
df = pd.DataFrame(data)

# 2. Agrupación por Género
df_grouped = df.groupby('Género')

# 3. Resumen de Edad y Calificaciones
resumen = df_grouped.agg({'Edad': ['mean'], 'Calificación': ['mean', 'max']})
resumen.columns = ['Edad Promedio', 'Calificación Promedio', 'Calificación Máxima']

# 4. Tabla de Resumen
print(resumen)

        Edad Promedio  Calificación Promedio  Calificación Máxima
Género
Hombre      19.000000               7.625000                  9.2
Mujer       17.666667               8.766667                  9.8

Preguntas adicionales:



*   ¿Cómo puedes calcular la cantidad de estudiantes por género?
*   ¿Cómo puedes ordenar la tabla de resumen por la calificación promedio de forma descendente?
*   ¿Cómo puedes agregar una nueva columna al DataFrame con la categoría de edad (por ejemplo, "Joven" para estudiantes menores de 19 años y "Adulto" para estudiantes mayores o iguales a 19 años)?

In [2]:
#Cantidad Estudiantes por genero
cantidad_estudiantes = df_grouped.size()
print(cantidad_estudiantes)

Género
Hombre    4
Mujer     3
dtype: int64

In [3]:
# resumen por la calificación promedio de forma descendente
resumen = resumen.sort_values(by='Calificación Promedio', ascending=False)
print(resumen)

        Edad Promedio  Calificación Promedio  Calificación Máxima
Género
Mujer       17.666667               8.766667                  9.8
Hombre      19.000000               7.625000                  9.2

In [4]:
#agregar una nueva columna al DataFrame con la categoría de edad (por ejemplo, "Joven" para estudiantes menores de 19 años y "Adulto" para estudiantes mayores o iguales a 19 años)
df['Categoría Edad'] = ['Joven' if edad < 19 else 'Adulto' for edad in df['Edad']]
print(df)

   Nombre  Edad  Género  Calificación Categoría Edad
0     Ana    18   Mujer           8.5          Joven
1    Juan    19  Hombre           7.0         Adulto
2   Pedro    18  Hombre           9.2          Joven
3   Sofía    17   Mujer           9.8          Joven
4  Carlos    20  Hombre           6.5         Adulto
5   María    18   Mujer           8.0          Joven
6    Luis    19  Hombre           7.8         Adulto